.l-artboard-additional-services {
  &__content {
    margin-top: 36px;
    width: 889px;
  }

  &__content-block {
    margin-top: 22px;
    padding-bottom: 25px;
    @extend %border-bottom;
  }

  &__info {
    width: 698px;
  }

  &__caption {
    @include font-bold(20px, normal, start, #1b1e2d);
    margin-bottom: 13px;
  }

  &__text {
    @include font-regular(13px, 1.31);
  }

  &__price {
    @include font-regular(14px, 1.31);
    margin: 25px 0;
  }

  &__button {
    & > button {
      height: 36px;
      width: 137px;
      text-align: center;
    }
  }
}
