.l-main-third-composite {
  &__content {
    padding-top: 30px;
  }

  &__left-side {
    width: 708px;
  }

  &__right-side {
    & > div:first-child {
      margin-bottom: 59px;
    }
  }

  &__button {
    margin-top: 20px;
    width: 100%;
    & > button {
      max-width: 137px;
      text-align: center;
    }
  }
}
