.l-frequently-questions {
  &__questions-block {
    @extend %card-border;
    margin-top: 27px;
    padding: 40px 38px 27px 44px;
    & .c-caption-with-icon__icon {
      display: none;
    }
    & .c-caption-with-icon {
      @include font-intro(12px, 1.25, center);
    }

    & > article {
      width: 273px;
    }
  }
}
