.l-tours-composite-layer {
  &__content {
    padding: 40px 0 30px;
  }
  &__left-side {
    margin-right: 9px;
  }
  &__left-cards-block {
    margin: 27px 0 12px;
    & > div {
      margin-bottom: 20px;
    }
  }
  &__right-side {
    margin-top: 14px;
    & > div:first-child {
      margin-bottom: 37px;
    }
  }
}
