.l-additional-booking {
  @extend %card-border;
  width: 348px;
  height: 100%;
  padding: 20px 20px 40px 20px;

  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    & > .c-material-input:first-child {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-top: 20px;
  }

  &__button {
    margin-top: 21px;
    width: 100%;
    & > button {
      max-width: 105px;
      text-align: center;
    }
  }
}

//рефактор
.c-form-hint {
  font-family: PTSans-Regular;
  font-size: 13px;
  color: #666666;

  &__link {
    color: #e3775b;
    cursor: pointer;
  }
}
