/* ------arrival information block start------ */
.l-arrival-block {
  &__caption {
    @include font-bold(13px, null, null, #8e8e93, 0.1px);
  }

  &__info-section {
    & > div:not(:last-child) {
      margin-bottom: 19px;
    }
  }
  &__button {
    width: 100%;
    & > button {
      max-width: 137px;
      text-align: center;
    }
  }
}

/* ------arrival information block end------ */
