<div class="l-main-third-composite">
  <div class="l-main-third-composite__content display-flex _j-between">
    <div class="l-main-third-composite__left-side">
      <div class="l-main-third-composite__offers display-flex">
        <%= mainTopOffers(mainTopOffersData)%>
      </div>

      <div class="l-main-third-composite__button display-flex _j-center">
        <button class="c-button">ВСЕ ПРЕДЛОЖЕНИЯ</button>
      </div>
    </div>
    <div class="l-main-third-composite__right-side">
      <%= mainSocialBlock()%>
    </div>
  </div>
</div>
