<div class="l-about-mosgortur">
  <div class="l-about-mosgortur__content">
    <div class="l-about-mosgortur__headline">
      <span
        >МОСГОРТУР — крупнейший туроператор детского развивающего отдыха в
        Москве</span
      >
    </div>
    <div class="l-about-mosgortur__info-block display-flex">
      <div class="l-about-mosgortur__text-block">
        <div class="l-about-mosgortur__text">
          <span
            >Осуществляет контроль качества оплаченных услуг по отдыху детей,
            предоставляемых оздоровительными учреждениями, а также выполнение
            ими требований государственного стандарта по детскому отдыху;</span
          >
        </div>
        <div class="l-about-mosgortur__stats">
          <div class="l-about-mosgortur__stat-item">
            <div class="l-about-mosgortur__stat-headline">
              <span>50 000</span>
            </div>
            <div class="l-about-mosgortur__stat-text">
              <span>детей ежегодно отдыхают с МОСГОРТУРом</span>
            </div>
          </div>
          <div class="l-about-mosgortur__stat-item">
            <div class="l-about-mosgortur__stat-headline">
              <span>400+</span>
            </div>
            <div class="l-about-mosgortur__stat-text">
              <span>верифицированных лагерей-партнеров</span>
            </div>
          </div>
          <div class="l-about-mosgortur__stat-item">
            <div class="l-about-mosgortur__stat-headline">
              <span>400+</span>
            </div>
            <div class="l-about-mosgortur__stat-text">
              <span>верифицированных лагерей-партнеров</span>
            </div>
          </div>
        </div>
      </div>

      <div class="l-about-mosgortur__offers-content">
        <div class="l-about-mosgortur__offers-block display-flex">
          <% offerCardItemsData.forEach(function(data) { %> <%=
          offerCardItem(data)%> <% }); %>
        </div>
        <div class="l-about-mosgortur__button display-flex _j-center">
          <button class="c-button">ВСЕ ПРЕДЛОЖЕНИЯ</button>
        </div>
      </div>
    </div>
  </div>
</div>
