<div class="l-tour-separate-excursion">
  <div class="l-tour-separate-excursion__content">
    <div
      class="l-tour-separate-excursion__header-block display-flex _j-between"
    >
      <div class="l-tour-separate-excursion__header">
        <span
          >Дмитров. История одного города (с национальным бельгийским обедом в
          усадьбе-шале)</span
        >
      </div>
      <div class="l-tour-separate-excursion__button">
        <button class="c-button">К СПИСКУ ЭКСКУРСИЙ</button>
      </div>
    </div>
    <div class="l-tour-separate-excursion__common-info display-flex _a-start">
      <% captionWithIconData.forEach(function(data) { %> <%=
      captionWithIcon(data)%> <% }); %>
      <div class="l-tour-separate-excursion__question">
        <a href="#">Задать вопросы</a>
      </div>
    </div>

    <div class="l-tour-separate-excursion__place-info">
      <div
        class="l-tour-separate-excursion__place-description display-flex _column"
      >
        <span
          >В течение всей смены дети будут изучать новые профессии через «Атлас
          будущих профессий». Научатся жить в гармонии с природой, беречь
          экологию, разбираться в науке и развивать социальные связи. В конце
          летней смены все участники посетят Технопарк «Сколково» и узнают,
          какие технологии будут в городе будущего и как смелые научные гипотезы
          обретают жизнь в российской Кремниевой долине.</span
        >
        <span> </span>
        <span
          >В течение всей смены дети будут изучать новые профессии через «Атлас
          будущих профессий». Научатся жить в гармонии с природой, беречь
          экологию, разбираться в науке и развивать социальные связи. В конце
          летней смены все участники посетят Технопарк «Сколково» и узнают,
          какие технологии будут в городе будущего и как смелые научные гипотезы
          обретают жизнь в российской Кремниевой долине.</span
        >
      </div>
      <div class="l-tour-separate-excursion__image display-flex">
        <div
          class="l-tour-separate-excursion__image-block display-flex _column _a-center"
        >
          <div
            class="l-tour-separate-excursion__main-image display-flex _j-center"
          >
            <img src="uploads/church.jpg" alt="church" />
          </div>
          <div
            class="l-tour-separate-excursion__second-image-block display-flex"
          >
            <div class="l-tour-separate-excursion__second-image">
              <img src="uploads/dino2.jpg" alt="dino" />
            </div>
            <div class="l-tour-separate-excursion__second-image">
              <img src="uploads/dino2.jpg" alt="dino" />
            </div>
            <div class="l-tour-separate-excursion__second-image">
              <img src="uploads/dino2.jpg" alt="dino" />
            </div>
            <div class="l-tour-separate-excursion__second-image">
              <img src="uploads/dino2.jpg" alt="dino" />
            </div>
          </div>
        </div>
        <div
          class="l-tour-separate-excursion__image-control display-flex _j-center"
        >
          <div class="left-arrow-icon icon _small-simple-arrow"></div>
          <div class="right-arrow-icon icon _small-simple-arrow"></div>
        </div>
      </div>
      <div class="l-tour-separate-excursion__additional-items-block">
        <div
          class="l-tour-separate-excursion__additional-item display-flex _j-between"
        >
          <h3>КЛЮЧЕВЫЕ МЕСТА</h3>
          <div class="icon _simple-arrow"></div>
        </div>
        <div
          class="l-tour-separate-excursion__additional-item display-flex _j-between"
        >
          <h3>в стоимость включено</h3>
          <div class="icon _simple-arrow"></div>
        </div>
        <div
          class="l-tour-separate-excursion__additional-item display-flex _j-between"
        >
          <h3>оплачивается отдельно</h3>
          <div class="icon _simple-arrow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
