<div class="l-video-reviews">
  <% if(caption) { %> <%= captionWithIcon(captionWithIconData) %> <% } %>
  <div class="l-video-reviews__content display-flex">
    <div class="l-video-reviews__image">
      <img src="uploads/mother.jpg" alt="mother" />
    </div>
    <div class="l-video-reviews__info-block">
      <div class="l-video-reviews__text-block">
        <div class="l-video-reviews__text">
          <span
            >Послушайте, что говорят мамы, которые отправили ребенка в лагерь
            впервые: что изменилось к лучшему?</span
          >
        </div>
        <div class="l-video-reviews__text">
          <span>Информация из первых рук, которым вы можете доверять.</span>
        </div>
      </div>
      <div class="l-video-reviews__chats-block">
        <div class="l-video-reviews__chats-caption">
          Получите ссылку на ролик, нажав на удобный мессенджжер
        </div>
        <div class="l-video-reviews__chat-icons display-flex">
          <div class="l-video-reviews__chat-item"></div>
          <div class="l-video-reviews__chat-item"></div>
          <div class="l-video-reviews__chat-item"></div>
          <div class="l-video-reviews__chat-item"></div>
          <div class="l-video-reviews__chat-item"></div>
        </div>
      </div>
    </div>
    <!-- video reviews start -->
  </div>
</div>
