/* ---- arrival-item start ----- */
.c-arrival-item {
  @extend %card-border-with-shadow;
  @include font-regular;

  padding: 20px 19px 12px 19px;
  width: 349px;

  &__date-block {
    @extend %border-bottom;
    color: #8e8e93;
    padding-bottom: 19px;
  }

  &__date {
    color: $link-text-color;
    margin-right: 5px;
  }

  &__place {
    margin-top: 19px;
  }
  &__address {
    font-size: 15px;
    color: #313131;
    margin-bottom: 10px;
  }
  &__city {
    @include font-intro(13px, null, null, #313131);
  }
}
/* ---- arrival-item end ----- */
