//---- Заголовок блока начало
.c-caption-with-icon {
  @include font-intro(15x, 1.25, center);

  //Стили для получения бордера-круга в блоке важной информации
  &._circle-icon-border {
    .c-caption-with-icon__icon {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      border: solid 0.5px #979797;
    }
  }

  &._row {
    .c-caption-with-icon__icon {
      margin-right: 12px;
    }
  }
  &._column {
    .c-caption-with-icon__icon {
      margin-bottom: 13px;
    }
  }
  &__text {
    //доделать
    & .result-marker {
      width: 5px;
      height: 5px;
      padding: 5px;
      border-radius: 2.5px;
      background-color: #9b9b9b;
    }
    & .result-count {
      color: #9b9b9b;
    }
  }
}

//---- Заголовок блока конец
