//---- Заголовок блока начало
.c-caption-with-icon {
  @include font-intro(15x, 1.25, center);

  &__icon {
    width: 23px;
    height: 15px;
  }

  &._row {
    .c-caption-with-icon__icon {
      margin-right: 12px;
    }
  }
  &._column {
    .c-caption-with-icon__icon {
      margin-bottom: 13px;
    }
  }
}

//---- Заголовок блока конец
