.select-wrapper {
  position: relative;
  width: 300px;
  margin: 20px 0;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 6px 0 6px;

  &:hover {
    box-shadow: 0px 0px 3px gray;
  }

  & select {
    width: 300px;
    height: 28px;
    padding: 0 20px 0 7px;
    background: transparent;
    border: 0;
    appearance: none; /* remove arrow        */
    -webkit-appearance: none; /* remove arrow Chrome */
    -moz-appearance: none; /* remove arrow FF     */
    outline: none;
  }

  & select::-ms-expand {
    display: none; /* remove arrow IE     */
  }

  &._dark {
    & select {
      color: $white-text-color;
    }
    .select-arrow-3:nth-child(1) {
      border-top-color: $white-text-color;
    }
  }
}

.select-arrow-3 {
  position: absolute;
  z-index: -9999;
  border: 8px solid transparent;
  border-bottom: 0;
  right: 10px;
}
.select-arrow-3:nth-child(1) {
  top: 16px;
  border-top-color: #e16a49;
}
.select-arrow-3:nth-child(2) {
  top: 14px;
  border-top-color: #fff;
}
