.custom-datepicker {
  & [type='date'] {
    background: transparent url('../img/calendar.svg') 93% 50% no-repeat;
  }
  & [type='date']::-webkit-inner-spin-button {
    display: none;
  }
  & [type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  /* custom styles */
  &__label {
    display: block;
    @include font-bold(13px, normal, start, $white-text-color);
    margin-bottom: 7px;
  }
  & input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 11px 8px;
    width: 170px;
    @include font-bold(13px, normal, start, $white-text-color);
    outline: none;
  }
}
