//----card-with-icon style start карта с иконкой из важной информации
.c-info-simple-card {
  @extend %card-border;
  width: 349px;
  height: 100%;
  min-height: 224px;
  position: relative;
  padding: 38px 60px 52px 60px;

  &__caption {
    @include font-intro(12px);

    &_front {
      margin-top: 18px;
    }
  }

  &__back {
    @extend %hidden-absolute-block;
    background-color: #f7f7f7;
  }

  &:hover {
    .c-info-simple-card__back {
      opacity: 1;
    }
  }

  &__text {
    @include font-regular(12px, normal, center);
    width: 223px;
    height: 84px;
    margin-top: 12px;
  }
}
//----card-with-icon style end
