//----card-with-icon style start карта с иконкой из важной информации
.c-info-double-card {
  width: 349px;
  height: 100%;
  min-height: 224px;
  padding: 38px 60px 52px 60px;

  ul {
    list-style-type: disc;
    padding: 0;
    margin: 10px 0 0 30px;

    & li:not(:last-child) {
      margin-bottom: 10px;
    }
    & li span {
      position: relative;
      left: -0.5em;
    }
  }

  &._card-border {
    @extend %card-border;
  }

  &._card-border {
    @extend %card-border;
  }

  & > div:first-child {
    margin-bottom: 36px;
  }
}
//----card-with-icon style end
