//----card-with-icon style start карта с иконкой из важной информации
.c-info-double-card {
  width: 349px;
  height: 100%;
  min-height: 224px;

  &._card-border {
    @extend %card-border;
    padding: 38px 60px 52px 60px;

    & > div:first-child {
      margin-bottom: 36px;
    }
  }

  &._separator {
    & > div:first-child {
      margin-bottom: 47px;
      padding-bottom: 40px;
      height: 124px;
      @extend %border-bottom;
    }
  }
}
//----card-with-icon style end
