@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: PTSans-Bold;
  src: url(../fonts/PTSans-Bold.ttf);
}

@font-face {
  font-family: PTSans-Italic;
  src: url(../fonts/PTSans-Italic.ttf);
}

@font-face {
  font-family: PTSans-BoldItalic;
  src: url(../fonts/PTSans-BoldItalic.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}

@font-face {
  font-family: Intro;
  src: url(../fonts/Intro.otf);
}

@mixin font-regular(
  $size: 12px,
  $lineHeight: normal,
  $textAlign: start,
  $color: #1b1e2d,
  $letterSpacing: normal
) {
  font-family: PTSans-Regular;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
  letter-spacing: $letterSpacing;
}

@mixin font-intro(
  $size: 15px,
  $lineHeight: normal,
  $textAlign: start,
  $color: #1a1a1a
) {
  font-family: Intro;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
}

@mixin font-bold(
  $size: 14px,
  $lineHeight: normal,
  $textAlign: start,
  $color: #bfbfbf
) {
  font-family: PTSans-Bold;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
}

@mixin font-italic(
  $size: 13px,
  $lineHeight: normal,
  $textAlign: start,
  $color: #1a1a1a
) {
  font-family: PPTSans-Italic;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
}
